{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}


{% block content %}

	<div id="banner-area">
		<img src="/static/images/bg5.jpg" alt ="" />
		<div class="parallax-overlay"></div>
			<!-- Subpage title start -->
			<div class="banner-title-content">
	        	<div class="text-center">
		        	<h2>About Us</h2>
		        	<ul class="breadcrumb">
			            <li>Home</li>
			            <li><a href="#"> About Us</a></li>
		          	</ul>
	          	</div>
          	</div><!-- Subpage title end -->
	</div><!-- Banner area end -->

	<!-- Main container start -->

	<section id="main-container">
		<div class="container">

			<!-- Company Profile -->
			<div class="row">
				<div class="col-md-12 heading">
					<span class="title-icon classic pull-left"><i class="fa fa-suitcase"></i></span>
					<h2 class="title classic">Company Profile</h2>
				</div>
			</div><!-- Title row end -->

			<div class="row">
				<div class="landing-tab clearfix">
					<ul class="nav nav-tabs nav-stacked col-md-3 col-sm-5">
					  	<li class="active">
					  		<a class="animated fadeIn" href="#tab_a" data-toggle="tab">
					  			<span class="tab-icon"><i class="fa fa-users"></i></span>
					  			<div class="tab-info">
						  			<h3>Who Are We</h3>
					  			</div>
					  		</a>
					  	</li>
					  	<li>
						  	<a class="animated fadeIn" href="#tab_b" data-toggle="tab">
						  		<span class="tab-icon"><i class="fa fa-globe"></i></span>
					  			<div class="tab-info">
						  			<h3>Our BUSINESS</h3>
					  			</div>
						  	</a>
						</li>
					 	<li>
						  	<a class="animated fadeIn" href="#tab_c" data-toggle="tab">
						  		<span class="tab-icon"><i class="fa fa-camera-retro"></i></span>
					  			<div class="tab-info">
						  			<h3>What We Do</h3>
					  			</div>
						  	</a>
						</li>
						<li>
						  	<a class="animated fadeIn" href="#tab_d" data-toggle="tab">
								<span class="tab-icon"><i class="fa fa-support"></i></span>
								<div class="tab-info">
									<h3>Dedicated Support</h3>
								</div>
						  	</a>
						</li>
					</ul>
					<div class="tab-content col-md-9 col-sm-7">
				        <div class="tab-pane active animated fadeInRight" id="tab_a">
				        	<i class="fa fa-users big"></i>
				            <h3>Who Are We</h3> 
				            <p>Welcome to Gujarat Media Line Productions! We are a trusted line production company led by Parth Chotaliya and Naren Singal. Based in Ahmedabad, we specialize in offering comprehensive production and coordination services for feature films, documentaries, and commercials in Gujarat. Our mission is to ensure your project's success with efficiency and affordability. Let us bring your vision to life with our skilled team and unwavering dedication.</p>
				        </div>
				        <div class="tab-pane animated fadeInLeft" id="tab_b">
				        	<i class="fa fa-globe big"></i>
				            <h3>Our BUSINESS</h3> 
							<p>we provide top-notch production and coordination services for films, documentaries, and commercials in Gujarat. We proudly serve clients worldwide, delivering excellence and efficiency in every project.</p>							 
				        </div>
				        <div class="tab-pane animated fadeIn" id="tab_c">
				            <i class="fa fa-camera-retro big"></i>
				            <h3>What We Do</h3> 
				            <p>At Gujarat Media Line Productions, we help create feature films, documentaries, and commercials. Our services include planning, location scouting, hiring talent, and managing equipment. We take care of everything from start to finish, ensuring your project runs smoothly. Our goal is to make your production process easy, efficient, and affordable.</p>
				        </div>
				        <div class="tab-pane animated fadeIn" id="tab_d">
				            <i class="fa fa-support big"></i>
				            <h3>24/7 Dedicated Support</h3> 
				            <p>At Gujarat Media Line Productions, we offer 24/7 dedicated support for all your production needs. Our team is always available to answer questions, solve problems, and provide assistance at any stage of your project. Whether it's day or night, we're here to ensure everything runs smoothly and efficiently. Your success is our top priority, and we're committed to helping you every step of the way.</p>
				        </div>
					</div><!-- tab content -->
	    		</div><!-- Overview tab end -->
			</div><!--/ Content row end -->

			<!-- Company Profile -->

		</div><!--/ 1st container end -->

			
		<div class="gap-60"></div>

		<div class="gap-60"></div>


		<div class="container"><!-- 2nd container start -->

			<!-- Team start -->
			<div class="team">

				<div class="row">
					<div class="col-md-12 heading">
						<span class="title-icon classic pull-left"><i class="fa fa-weixin"></i></span>
						<h2 class="title classic">Our Profile</h2>
					</div>
				</div><!-- Title row end -->

				<div class="row text-center">
					<div class="col-md-6 col-sm-6">
						<div class="team wow slideInLeft">
							<div class="img-hexagon">
								<img src="/static/images/team/n.jpg" alt="">
								<span class="img-top"></span>
								<span class="img-bottom"></span>
							</div>
							<div class="team-content">
								<h3>Naren Singal</h3>
							</div>
						</div>
					</div><!--/ Team 2 end -->
					<div class="col-md-6 col-sm-6">
						<div class="team wow slideInRight">
							<div class="img-hexagon">
								<img src="/static/images/team/p.jpg" alt="">
								<span class="img-top"></span>
								<span class="img-bottom"></span>
							</div>
							<div class="team-content">
								<h3>Parth Chotaliya</h3>
							</div>
						</div>
					</div><!--/ Team 3 end -->
				</div><!--/ Content row end -->

			</div><!-- Team end -->

		</div><!-- 2nd container end -->
	</section><!--/ Main container end -->
	


	<div class="gap-40"></div>
{% endblock %}