{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}


{% block content %}

	<!-- Slider start -->
	<section id="home" class="no-padding">	

    	<div id="main-slide" class="ts-flex-slider">

			<div class="flexSlideshow flexslider">
				<ul class="slides">
					<li>
						<div class="overlay2">
							<img class="" src="/static/images/slider/p-2.jpg" alt="slider">
						</div>
						<div class="flex-caption slider-content">
	                        <div class="col-md-12 text-center">
	                    		<h2 class="animated2">
	                        		We can help you complete your project
	                        	</h2>
	                            <h3 class="animated3">
									in Gujrat in a very affordable and most effective way.
	                            </h3>
	                        </div>
	                    </div>
					</li>
					<li>
						<div class="overlay2">
							<img class="" src="/static/images/slider/p-3.jpg" alt="slider">
						</div>
						<div class="flex-caption slider-content">
	                        <div class="col-md-12 text-center">
	                            <h2 class="animated4">
	                                We provide you Shooting
	                            </h2>
	                            <h3 class="animated5">
	                            	locations/Casting/Govt.permission/Local support/ Technical team /Technical equipment/Transport and accommodation.
	                            </h3>		     
	                        </div>
	                    </div>
					</li>
					<li>
						<div class="overlay2">
							<img class="" src="/static/images/slider/p-4.jpg" alt="slider">
						</div>
						<div class="flex-caption slider-content">
	                        <div class="col-md-12 text-center">
	                            <h2 class="animated7">
	                                We can make
	                            </h2>
	                            <h3 class="animated8">
	                            	Future film/Web series/Serial/Song/Corporate films/Documentary/Photoshoot/Events,Etc.
	                            </h3>		   
	                        </div>
	                    </div>
					</li>
				</ul>
			</div>
		</div><!--/ Main slider end -->    	
    </section> <!--/ Slider end -->
<br>

    <section id="image-block" class="image-block no-padding">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4 ts-padding" style="height:650px;background:url(/static/images/team/parth&naren3.jpg) 50% 50% / cover no-repeat;">
				</div>
				<div class="col-md-8 ts-padding img-block-right">

					<div class="gap-30"></div>

					<div class="image-block-content">
						<!-- <span class="feature-icon pull-left" ><i class="fa fa-user"></i></span> -->
						<div class="feature-content">
							<h2>Welcome !</h2>
							<h4>Parth and Naren Team is well established Line Production Company based in Ahmedabad Gujarat. We offer full line producing and co-ordinating services for features, documentaries or commercials shooting in all over Gujarat. We can help you complete your project in Gujarat in the affordable and most efficient way.						</h4>

						</div>
					</div><!--/ End 1st block -->


				</div>
			</div>
		</div>
	</section>
<br><br>

	<!-- Counter Strat -->
	<section class="ts_counter no-padding">
		<div class="container-fluid">
				<div class="col-md-12 heading">
					<center>
					<h2><i class="fa fa-trophy"></i>  Our Aechivements</h2>
				</center>
				</div>
			<div class="row facts-wrapper wow fadeInLeft text-center">
				<div class="facts one col-md-3 col-sm-6">
					<span class="facts-icon"><i class="fa fa-camera"></i></span>
					<div class="facts-num">
						<span>10+</span>
					</div>
					<h3>years experience</h3> 
				</div>

				<div class="facts one col-md-3 col-sm-6">
					<span class="facts-icon"><i class="fa fa-film"></i></span>
					<div class="facts-num">
						<span>20+</span>
					</div>
					<h3>films</h3> 
				</div>

				<div class="facts three col-md-3 col-sm-6">
					<span class="facts-icon"><i class="fa fa-desktop"></i></span>
					<div class="facts-num">
						<span>8+</span>
					</div>
					<h3>TV serial</h3> 
				</div>

				<div class="facts four col-md-3 col-sm-6">
					<span class="facts-icon"><i class="fa fa-file-o"></i></span>
					<div class="facts-num">
						<span>20+</span>
					</div>
					<h3>documentary</h3> 
				</div>

			</div>
		</div><!--/ Container end -->
    </section><!--/ Counter end -->

	<!-- Team start -->
	<section id="team" class="team">
		<div class="container">
			<div class="row">
				<div class="col-md-12 heading">
					<span class="title-icon pull-left"><i class="fa fa-code-fork"></i></span>
					<h2 class="title">Our Latest Work</h2>
				</div>
			</div><!-- Title row end -->

			<div class="row text-center">
				<div class="col-md-3 col-sm-6">
					<div class="team wow slideInLeft">
						<div class="img-hexagon">
							<img src="/static/images/serial/crex.jpg" alt="">
							<span class="img-top"></span>
							<span class="img-bottom"></span>
						</div>
						<div class="team-content">
							<h3>Crex (Advertisement)</h3>
						</div>
					</div>	
				</div><!--/ Team 1 end -->
				<div class="col-md-3 col-sm-6">
					<div class="team wow slideInLeft">
						<div class="img-hexagon">
							<img src="/static/images/serial/rara.jpg" alt="">
							<span class="img-top"></span>
							<span class="img-bottom"></span>
						</div>
						<div class="team-content">
							<h3>RaRa (Movie)</h3>
						</div>
					</div>
				</div><!--/ Team 2 end -->
				<div class="col-md-3 col-sm-6">
					<div class="team wow slideInRight">
						<div class="img-hexagon">
							<img src="/static/images/serial/bkt.jpg" alt="">
							<span class="img-top"></span>
							<span class="img-bottom"></span>
						</div>
						<div class="team-content">
							<h3>Bolo Ketla Taka (Colours Gujrati)</h3>
						</div>
					</div>
				</div><!--/ Team 3 end -->
				<div class="col-md-3 col-sm-6">
					<div class="team animate wow slideInRight">
						<div class="img-hexagon">
							<img src="/static/images/serial/hu.jpg" alt="">
							<span class="img-top"></span>
							<span class="img-bottom"></span>
						</div>
						<div class="team-content">
							<h3>Hu Tu Ne Hu Tu Tu (Colours Gujrati)</h3>
						</div>
					</div>
				</div><!--/ Team 4 end -->
			</div><!--/ Content row end -->
		</div><!--/ Container end -->
    </section><!--/ Team end -->

{% endblock %}
	

	