{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}


{% block content %}

<div id="banner-area">
	<img src="/static/images/bg1.jpg" alt="" />
	<div class="parallax-overlay"></div>
	<!-- Subpage title start -->
	<div class="banner-title-content">
		<div class="text-center">
			<h2>Contact Us</h2>
			<ul class="breadcrumb">
				<li>Home</li>
				<li><a href="#"> Our Work</a></li>
				<li><a href="#"> Serials</a></li>
			</ul>
		</div>
	</div><!-- Subpage title end -->
</div><!-- Banner area end -->

<div class="gap-40"></div>
<center>
    <h2>Serial</h2>
</center>
<br>
<div class="container mt-5">
  <div class="row justify-content-center">
    {% if serial %}
    {% for serial in serial %}
      <div class="col-md-4">
          <div class="card text-center" style="padding-bottom: 70px;">
              <img class="card-img-top" src="{{ serial.image.url }}" alt="{{ serial.serial_name }}" style="height: 300px; width: 300px; border: 3px solid gray;">
              <div class="card-body">
                  <h3 class="card-title">{{ serial.serial_name }}</h3>
              </div>
          </div>
      </div>
      {% endfor %}
      {% else %}
      <b><h4>No Serial Yet.</b></h4><br>
      {% endif %}
  </div>
</div>

<div class="gap-40"></div>
{% endblock %}