{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}


{% block content %}

<div id="banner-area">
	<img src="/static/images/bg.jpg" alt="" />
	<div class="parallax-overlay"></div>
	<!-- Subpage title start -->
	<div class="banner-title-content">
		<div class="text-center">
			<h2>Services</h2>
			<ul class="breadcrumb">
				<li>Home</li>
				<li><a href="#">Services</a></li>
			</ul>
		</div>
	</div><!-- Subpage title end -->
</div><!-- Banner area end -->

<!-- Main container start -->

<section id="main-container">
	<div class="container">

		<!-- Services -->

		<div class="row">
			<div class="col-md-12 heading">
				<span class="title-icon classic pull-left"><i class="fa fa-code-fork"></i></span>
				<h2 class="title classic">Our Services</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="col-md-6 col-sm-6 wow fadeInDown" data-wow-delay=".5s">
					<div class="service-content text-center">
						<span class="service-icon icon-pentagon"><img src="/static/images/supervision.png" alt=""></span>
						<h3>Supervision | Execution | Management</h3>
						<p>At Gujarat Media Line Productions, we take care of supervising, executing, and managing your media projects. Our team ensures everything runs smoothly from start to finish, delivering high-quality results. We handle all the details, so you can focus on your creative ideas.
						</p>
					</div>
				</div><!--/ End first service -->

				<div class="col-md-6 col-sm-6 wow fadeInDown" data-wow-delay=".8s">
					<div class="service-content text-center">
						<span class="service-icon icon-pentagon"><img src="/static/images/planning.png" alt=""></span>
						<h3>Production Planning</h3>
						<p>we specialize in thorough production planning. Our team organizes every aspect of your project, from budgeting and scheduling to resource allocation. We ensure a smooth and efficient production process, allowing your vision to come to life seamlessly.</p>
					</div>

				</div><!--/ End Second service -->
			</div>
		</div><!-- Content 1st row end -->

		<div class="gap-40"></div>

		<div class="row">
			<div class="col-md-12">
				<div class="col-md-6 col-sm-6 wow fadeInDown" data-wow-delay="1.1s">
					<div class="service-content text-center">
						<span class="service-icon icon-pentagon"><img src="/static/images/location.png" alt=""></span>
						<h3>Location Scouting</h3>
						<p>we provide expert location scouting services. Our team finds the perfect settings for your projects, considering aesthetic, logistical, and budgetary needs. We handle all the details, ensuring you get the ideal backdrop for your film, documentary, or commercial.</p>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 wow fadeInDown" data-wow-delay="1.4s">
					<div class="service-content text-center">
						<span class="service-icon icon-pentagon"><img src="/static/images/permits.png" alt=""></span>
						<h3>Permits</h3>
						<p>we take care of all the necessary permits for your shoot. Our team handles the paperwork and legal requirements to ensure a hassle-free production process. We make sure you have the right permissions in place, so you can focus on creating your project.</p>
					</div>
				</div><!--/ End 4th service -->
			</div>
		</div><!-- Content 2nd row end -->

		<div class="gap-40"></div>
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-6 col-sm-6 wow fadeInDown" data-wow-delay=".5s">
					<div class="service-content text-center">
						<span class="service-icon icon-pentagon"><img src="/static/images/crewing.png" alt=""></span>
						<h3>Crewing</h3>
						<p> we provide top-notch crewing services. Our team sources skilled professionals for every role, ensuring you have the right talent for your project. From camera operators to sound technicians, we assemble a crew that meets your specific needs, ensuring a smooth and successful production.</p>
					</div>
				</div><!--/ End first service -->

				<div class="col-md-6 col-sm-6 wow fadeInDown" data-wow-delay=".8s">
					<div class="service-content text-center">
						<span class="service-icon icon-pentagon"><img src="/static/images/casting.png" alt=""></span>
						<h3>Casting</h3>
						<p> we offer comprehensive casting services to find the perfect talent for your project. Our team works closely with you to understand your requirements and selects actors who best fit your vision. We handle the entire casting process, ensuring you get the right performers to bring your story to life.</p>
					</div>

				</div><!--/ End Second service -->
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-6 col-sm-6 wow fadeInDown" data-wow-delay="1.1s">
					<div class="service-content text-center">
						<span class="service-icon icon-pentagon"><img src="/static/images/production.png" alt=""></i></span>
						<h3>Production</h3>
						<p>we manage the entire production process from start to finish. Our experienced team ensures that every aspect, from filming to editing, is handled with precision and professionalism. We focus on delivering high-quality results, bringing your creative vision to life efficiently and effectively.</p>
					</div>
				</div><!--/ End Third service -->

				<div class="col-md-6 col-sm-6 wow fadeInDown" data-wow-delay="1.4s">
					<div class="service-content text-center">
						<span class="service-icon icon-pentagon"><img src="/static/images/Equipment.png" alt=""></span>
						<h3>Equipment Rental</h3>
						<p> we offer comprehensive equipment rental services. Our inventory includes the latest cameras, lighting, and sound gear to meet all your production needs. We provide high-quality equipment at competitive rates, ensuring your project has the best tools for success.</p>
					</div>
				</div>
			</div>
		</div><!-- Content 3nd row end -->

		<div class="row">
			<div class="col-md-12">
				<div class="col-md-6 col-sm-6 wow fadeInDown" data-wow-delay=".5s">
					<div class="service-content text-center">
						<span class="service-icon icon-pentagon"><img src="/static/images/accomatation.png" alt=""></span>
						<h3>Accommodation</h3>
						<p>we take care of your accommodation needs. We arrange comfortable and convenient lodging for your cast and crew, ensuring everyone is well-rested and ready for production. Our team handles all the details, so you can focus on your project without any worries.</p>
					</div>
				</div><!--/ End first service -->
				<div class="col-md-6 col-sm-6 wow fadeInDown" data-wow-delay=".8s">
					<div class="service-content text-center">
						<span class="service-icon icon-pentagon"><img src="/static/images/catering.png" alt=""></span>
						<h3>Catering</h3>
						<p>we provide top-notch catering services to keep your crew energized and focused during long shoots. From hearty meals to healthy snacks, we offer a variety of options to suit all tastes and dietary preferences. Our team ensures that every meal is delicious, nutritious, and delivered on time, allowing you to concentrate on your project with peace of mind.</p>
					</div>

				</div><!--/ End Second service -->
			</div>
		</div><!-- Content 3nd row end -->

		<div class="row">
			<div class="col-md-12">
				<div class="col-md-6 col-sm-6 wow fadeInDown" data-wow-delay="1.1s">
					<div class="service-content text-center">
						<span class="service-icon icon-pentagon"><img src="/static/images/travel.png" alt=""></span>
						<h3>Travel & Transport</h3>
						<p>we handle all aspects of travel and transport for your production team. From arranging flights to coordinating ground transportation, we ensure smooth and hassle-free travel logistics. Our dedicated team ensures timely arrivals and departures, allowing you to focus on your project without any worries about transportation.</p>
					</div>
				</div><!--/ End Third service -->
				
				<div class="col-md-6 col-sm-6 wow fadeInDown" data-wow-delay="1.4s">
					<div class="service-content text-center">
						<span class="service-icon icon-pentagon"><img src="/static/images/post_production.png" alt=""></span>
						<h3>Post Production</h3>
						<p>we offer comprehensive post-production services to bring your project to life. Our skilled editors, sound engineers, and visual effects artists work tirelessly to refine and polish your footage. From editing and color grading to sound mixing and final delivery, we ensure your project meets the highest standards of quality and creativity.</p>
					</div>
				</div>
			</div>
		</div><!-- Content 3nd row end -->

		<!-- Services end -->
	</div><!--/ 1st container end -->
</section>

{% endblock %}